
@{
    ViewData["Title"] = "Impossível excluir categoria";
}

<h1>Não é possível excluir categoria relacionada a um produto.</h1>

<form>
    <a asp-action="Index">Voltar para a Lista de Categorias</a>
</form>